.contextContainer{
    display: flex;
    justify-content: space-evenly;
}

div>.imageContainer img{
    min-width: 100%;
    max-width: 100%;
    min-height: auto;
    max-height: auto;
    border-radius: 5%;
    margin-bottom: 0.5em;
}

.width50 {
    width: 50%;
    position: relative;
    right: 15px;
}
.width25 {
    width: 25%;
    position: relative;
    right: 15px;
}

.listContainer{
    max-width: 40%;
}

.imageContainer{
    max-width: 60%;

    // display: flex;
    // flex-direction: column;
}

.mat-mdc-button>.mat-icon.mIcon, .mat-mdc-unelevated-button>.mat-icon.mIcon, .mat-mdc-raised-button>.mat-icon.mIcon, .mat-mdc-outlined-button>.mIcon{
    position: absolute;
    right: 5px;
}

//from post.scss

mat-card-title {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
}

mat-card {
    margin-bottom: 1em;
}

.mdc-card__media:first-child, .mat-mdc-card-sm-image{
    border-radius: 50%;
}

.mat-mdc-card-title {
    display: flex;
}

.titleNameAndDate {
    padding-left: 0.5em;
    align-content: center;
}

mat-card-footer{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    align-content: center;
    border-top: 1px solid white;
}

.interaction_numbers{
    margin-right: 1.75em;
    padding-left: 1em;
    align-content: center;
    display: flex;
    padding-top: 0.5em;
}

.interaction_numbers p {
    padding-right: 0.3em;
    padding-top: 0.3em;
}

mat-card-content {
    padding-bottom: 1em;
}

mat-card-content p{
    color: #cbcdcf;
}

.XbuttonContainer{
    position: absolute;
    top: 5px;
    right: 5px;
}

.Xbutton{
    color: rgb(150, 19, 19);
}
.editButtonContainer{
    position: absolute;
    top: 5px;
    right: 50px;
}
