<navbar activeLink=""></navbar>
<!-- <p>person-profile works!</p> -->
<mat-card style="border-radius: 5%;">
    <div class="contextContainer">
        <div class="listContainer">
            <mat-list >
                <mat-list-item>
                  <h4>{{this.user.name + " " + this.user.surname}}</h4>
                </mat-list-item>
                <mat-list-item>
                  <span matListItemTitle>Folowing sports: </span>
                  <span matListItemLine>{{this.user.selectedSports}}</span>
                </mat-list-item>
                @if(!this.isMe()){
                  <mat-list-item>
                    <span matListItemTitle >Number of mutural friends: </span>
                    <span matListItemLine>{{this.calculateNumberOfmuturalFriends()}}</span>
                  </mat-list-item>
                }
                <mat-list-item>
                  <span matListItemTitle>Date of birth</span>
                  <span matListItemLine>{{this.user.dateOfBirth}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Education</span>
                    <span matListItemLine>{{this.user.education}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Work:</span>
                    <span matListItemLine>{{this.user.work}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>About me:</span>
                    <span matListItemLine>{{this.user.aboutMe}}</span>
                </mat-list-item>
              </mat-list>
        </div>
        <div class="imageContainer">
            <img mat-card-image [src]="this.user.picture" class="imgInput">
            @if (this.isMe()){
              <button mat-raised-button class="width50" ><span class="mdc-button__label" (click)="this.openEditDialog()">Edit</span><mat-icon class="mIcon">edit</mat-icon></button><!--style="position: relative; right: 15px;"-->
              <button mat-raised-button class="width50" (click)="this.openDeleteProfileDialog('0ms','0ms')"><span class="mdc-button__label" >Delete</span><mat-icon class="mIcon">delete</mat-icon></button>
            }
            @else {
              @if(this.loggedInUserFriendsIds.includes(this.user.id)){
                <button mat-icon-button disabled class="width50" style="font-size: 25px;">
                  <span class="mdc-button__label">Friends:</span>
                  <mat-icon style="font-size: 30px;">check</mat-icon>
                </button>
                <button mat-raised-button class="width50"><span class="mdc-button__label" (click)="this.openRemoveFriendDialog('0ms','0ms')">Remove from friends</span><mat-icon class="mIcon">person_remove</mat-icon></button>
              }
              @else{
                <button mat-icon-button disabled class="width50" style="font-size: 25px;">
                  <span class="mdc-button__label">Friends:</span>
                  <mat-icon style="font-size: 30px;">close</mat-icon>
                </button>
                <button mat-raised-button class="width50" ><span class="mdc-button__label" style="margin-right: 1em;">Send request</span><mat-icon class="mIcon">send</mat-icon></button>
              }
            }    
        </div>
      </div>
</mat-card>
<mat-card *ngFor="let post of this.userPosts$ | async">
  <mat-card-title>
      <img mat-card-sm-image src={{post.userImage}}/>
      <div class="titleNameAndDate">
        <div>
            {{post.userFullname}}
        </div>
        <span mat-card-subtitle>{{post.date}}</span>
        <!-- <mat-card-subtitle>13/04/2024</mat-card-subtitle> -->
      </div>     
  </mat-card-title>
   <mat-card-content>
      <p>
          {{post.text}}
      </p>
  </mat-card-content>
  <img mat-card-image src={{post.image}}>
  <mat-card-actions>
      <button mat-button ><mat-icon>thumb_up</mat-icon>Like </button><!--[color]="color" (click)="like($event)"-->
      <button mat-button><mat-icon>thumb_down</mat-icon>Dislike </button>
      <button mat-button [routerLink]="['./', post.id]"><mat-icon>comment</mat-icon>Comment </button><!--[routerLink]="['./', post.id]"-->
      <button mat-button><mat-icon>share</mat-icon>Share </button>
  </mat-card-actions>
  <mat-card-footer>
      <span class="interaction_numbers"><p>{{post.numberOfLikes}}</p><mat-icon>thumb_up</mat-icon></span>
      <span class="interaction_numbers"><p>{{post.numberOfDislikes}}</p><mat-icon>thumb_down</mat-icon></span>
      <span class="interaction_numbers"><p>{{post.numberOfComments}}</p><mat-icon>comment</mat-icon></span>
      <span class="interaction_numbers"><p>{{post.numberOfShares}}</p><mat-icon>share</mat-icon></span>
  </mat-card-footer>
</mat-card>
