.reg-form {
    margin: 50px;
}

input {
    flex-shrink: 1;
}

.input-password {
    display: flex;
    margin-right: 10px;
}

.fa-align{
    align-self: center;
}

.list-sports{
    list-style: none;
    margin-top: 5px;
    margin-right: 5px;
    color: greenyellow;
    font-size: medium;
    font-weight: bold;
}

ul{
    padding-inline-start: 0px;
}