// :host{
//     width: 300px !important;
// }

// div>#cdk-overlay-0.cdk-overlay-pane.mat-mdc-dialog-panel{
//     width: 300px !important;
// }

.imgInput{
    width: 212px;
    height: auto;
}

div.mat-mdc-form-field-has-icon-suffix.mat-mdc-text-field-wrapper{
    padding-right: 0;
    width: 212px !important;
}

.mat-mdc-text-field-wrapper{
    width: 212px;
}