// :host{
//     width: 300px !important;
// }

// div>#cdk-overlay-0.cdk-overlay-pane.mat-mdc-dialog-panel{
//     width: 300px !important;
// }

.imgInput{
    width: 212px;
    height: auto;
}

div.mat-mdc-form-field-has-icon-suffix.mat-mdc-text-field-wrapper{
    padding-right: 0;
    width: 212px !important;
}

.mat-mdc-text-field-wrapper{
    width: 212px;
}


div.dateContainer>.mat-mdc-form-field.ng-tns-c3736059725-9.ng-star-inserted.mat-mdc-form-field-type-mat-input.mat-mdc-form-field-has-icon-suffix.mat-form-field-appearance-fill.mat-form-field-hide-placeholder.mat-primary.ng-untouched.ng-pristine.ng-invalid{
    width: 212px;
}

div.dateContainer >.mat-mdc-form-field.mat-mdc-form-field-type-mat-input.mat-mdc-form-field-has-icon-suffix.mat-form-field-appearance-fill.mat-primary.ng-tns-c3736059725-6{
    width: 212px;
}