<navbar [activeLink]="activeLink"></navbar>
<mat-card appearance="outlined">
    <mat-card-content>
        <form class="example-form">
            Search for new friend: {{myControl.value || 'empty'}}
            <mat-form-field class="example-full-width">
              <mat-label></mat-label>
              <input #input
                     type="text"
                     placeholder="Enter name"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto"
                     (input)="filter()"
                     (focus)="filter()"
                     id="searchPeopleInput">
              <mat-autocomplete requireSelection #auto="matAutocomplete">
                @for (user of this.users$ | async; track user) {
           
                  <mat-option *ngIf="this.filteredOptions.includes(user.name + user.surname)" [routerLink]="['/home/user']" [state]="user"
                   [value]="user.name + user.surname" style="margin-bottom: 1em;" >
                    
                        <div style="width: 100%;" >
                            <mat-card-title>
                                <img mat-card-sm-image src={{user.picture}}/>
                                <div class="titleNameAndNumber">
                                <div>
                                    {{user.name + user.surname}}
                                </div>
                                    <span mat-card-subtitle>Selected Sports: {{user.selectedSports}} </span>
                                </div>     
                            </mat-card-title>
                        </div>
                    
                  </mat-option>
            
                }
              </mat-autocomplete>
            </mat-form-field>
          </form>
    </mat-card-content>
</mat-card>
<mat-card *ngFor="let friendsAndNumberOfMuturalFriends of this.userFriendsAndNumberOfMuturalFriend$| async">
    <div style="width: 100%;">
        <mat-card-title>
            <img mat-card-sm-image src={{friendsAndNumberOfMuturalFriends.friend.userImage}}/>
            <div class="titleNameAndDate">
            <div>
                {{friendsAndNumberOfMuturalFriends.friend.userFullname}}
            </div>
                <span mat-card-subtitle>Number of mutural friends: {{friendsAndNumberOfMuturalFriends.numberOfMuturalFriends}} </span>
                <!-- <mat-card-subtitle>13/04/2024</mat-card-subtitle> -->
                <span mat-card-subtitle>Friends selected sports: {{friendsAndNumberOfMuturalFriends.friend.selectedSports}} </span>
            </div>     
        </mat-card-title>
    </div>
    

</mat-card>