.mdc-card__media:first-child {
    border-radius: 50%;
}

.mdc-card__media:first-child:hover {
    cursor: pointer;
}

.divFullname:hover{
    cursor: pointer;
}

.mat-mdc-card-title {
    display: flex;
    position: relative;
}

.titleNameAndNumber {
    padding-left: 0.5em;
    align-content: center;
}


mat-card {
    border-radius: 5%;
    margin-bottom: 1em;
    width: 100%;
}

.wholeContainer{
    background-color: adjust-hue($color: #471863, $degrees: 3);
    height: 100vh;
}

.example-form {
    min-width: 150px;
    // max-width: 500px;
    width: 100%;
    margin-top: 16px;
    font-size: larger;
  }
  
  .example-full-width {
    width: 100%;
  }