
mat-form-field {
    height: var(--mdc-secondary-navigation-tab-container-height);
    display: block;
}

.navbutton {
    height: 100%;
}

.picture{
    display: flex;
    width: var(--mdc-secondary-navigation-tab-container-height);
    height: var(--mdc-secondary-navigation-tab-container-height);
    
}

img {
    flex-shrink: 1;
    border-radius: 50%;
}

