<h2 mat-dialog-title>{{this.inputData.title}}</h2>
<div class="content">
    <mat-dialog-content>
        <form [formGroup]="this.editCommentFormGroup" (ngSubmit)="onYes()">
            <p>{{this.inputData.userComment.userFullName}}</p>
            <p>{{this.inputData.userComment.commentDate}}</p>
            <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileInput formControlName="commentPicFormControl">
            <img [src]="this.userInputCommentImg ? this.userInputCommentImg : this.inputData.userComment.commentPic" class="imgInput">
            <button mat-flat-button (click)="$event.preventDefault(); fileInput.click()" class="changeButton">Change image</button>
            <mat-form-field class="textInput">
                <mat-label>Text:</mat-label>
                <textarea matInput rows="3" class="width100" [placeholder]="this.inputData.userComment.commentText" [value]="this.inputData.userComment.commentText" formControlName="commentTextFormControl"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onYes()" type="submit" [disabled]="!this.editCommentFormGroup.dirty">{{this.inputData.confirmString}}</button>
    <button mat-button mat-dialog-close (click)="onNo()">{{this.inputData.cancelString}}</button>
</mat-dialog-actions>
