<form>
<mat-form-field class="userPostContainer">
    <mat-label>What are you thinking about?</mat-label>
    <div class="input-container">
        <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [formControl]="postTextFormControl" ></textarea>
        <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileInput>
        <img [src]="this.userPostImg" class="imgInput">
        <div style="display: flex;">
            <mat-checkbox *ngFor="let sport of this.userSelectedSport$ | async" [formControl]="postCheckListFormControl" (change)="onSportChecked(sport)">{{sport}}</mat-checkbox>
        </div>
        <div>
            <button mat-flat-button (click)="$event.preventDefault(); fileInput.click()">Pick photo</button>
            <button mat-flat-button (click)="$event.preventDefault(); onPost()" 
            [disabled]="!this.postTextFormControl.dirty ||
            this.postTextFormControl.invalid || 
            this.postCheckListFormControl.invalid" >POST</button>
        </div>
    </div>
</mat-form-field>
</form>
<mat-card *ngFor="let post of this.posts$ | async">
    <mat-card-title>
        <img mat-card-sm-image src={{post.userImage}} (click)="this.getUser(post.userId)"/>
        <div class="titleNameAndDate">
            <div class="divFullname" (click)="this.getUser(post.userId)">
                {{post.userFullname}}
            </div>
                <span mat-card-subtitle>{{post.date}}</span>
                <!-- <mat-card-subtitle>13/04/2024</mat-card-subtitle> -->
        </div>     
    </mat-card-title>
     <mat-card-content>
        <p>
            {{post.text}}
        </p>
    </mat-card-content>
    <img mat-card-image src={{post.image}}>
    <mat-card-actions>
        <button mat-button (click)="like($event)" [color]="color"><mat-icon>thumb_up</mat-icon>Like </button>
        <button mat-button><mat-icon>thumb_down</mat-icon>Dislike </button>
        <button mat-button [routerLink]="['./', post.id]"><mat-icon>comment</mat-icon>Comment </button>
        <button mat-button><mat-icon>share</mat-icon>Share </button>
    </mat-card-actions>
    <mat-card-footer>
        <span class="interaction_numbers"><p>{{post.numberOfLikes}}</p><mat-icon>thumb_up</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfDislikes}}</p><mat-icon>thumb_down</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfComments}}</p><mat-icon>comment</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfShares}}</p><mat-icon>share</mat-icon></span>
    </mat-card-footer>
</mat-card>


<!-- <mat-card>
    <mat-card-title>
        <img mat-card-sm-image src="https://scontent.fbeg10-1.fna.fbcdn.net/v/t1.18169-1/969987_488172031277757_895038162_n.jpg?stp=c50.50.620.620a_dst-jpg_s160x160&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=FebKqSJ0GCEAb6PGJyO&_nc_ht=scontent.fbeg10-1.fna&oh=00_AfCzsW-JtFqhPTYBCdJsMVb0rkXzzuHJP-nkgadbgmEnRQ&oe=663FC960"/>
        <div class="titleNameAndDate">
        <div>
            Nemanja Savic
        </div>
            <span mat-card-subtitle>13/04/2024</span>
        </div>     
    </mat-card-title>
     <mat-card-content>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like </button>
        <button mat-button><mat-icon>comment</mat-icon>Comment </button>
        <button mat-button><mat-icon>share</mat-icon>Share </button>
    </mat-card-actions>
</mat-card>
<mat-card>
    <mat-card-title>
        <img mat-card-sm-image src="https://scontent.fbeg10-1.fna.fbcdn.net/v/t1.18169-1/969987_488172031277757_895038162_n.jpg?stp=c50.50.620.620a_dst-jpg_s160x160&_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=FebKqSJ0GCEAb6PGJyO&_nc_ht=scontent.fbeg10-1.fna&oh=00_AfCzsW-JtFqhPTYBCdJsMVb0rkXzzuHJP-nkgadbgmEnRQ&oe=663FC960"/>
        Nemanja Savic
        <mat-card-subtitle>13/04/2024</mat-card-subtitle>
    </mat-card-title>
    
     <mat-card-content>
        <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><mat-icon>thumb_up</mat-icon>Like </button>
        <button mat-button><mat-icon>comment</mat-icon>Comment </button>
        <button mat-button><mat-icon>share</mat-icon>Share </button>
    </mat-card-actions>
</mat-card> -->
