<div class="reg-div">
    <h1>Welcome to SportSocial!</h1>
    <small>First time here?
        <a href="" (click)="$event.preventDefault(); goToRegistry()">Registry</a>
    </small>

</div>


<h3>Please log in:</h3>
<form class="reg-form mt-3" [formGroup]="logInFormGroup" (ngSubmit)="$event.preventDefault(); submitForm()">
    <div class="mb-3">
      <label class="form-label">Your email address</label>
      <input type="email" class="form-control" placeholder="Enter email" name="email" formControlName="emailFormControl">
      <div *ngIf="this.logInFormGroup.get('emailFormControl')?.invalid && 
        this.logInFormGroup.get('emailFormControl')?.touched ">
            <small class="text-danger" 
            *ngIf="this.logInFormGroup.get('emailFormControl')?.hasError('required')">Email is required</small>
            <small class="text-danger" 
            *ngIf="this.logInFormGroup.get('emailFormControl')?.hasError('email')">Email is not valid</small>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <div class="input-password">
        <input [type]="this.visiblePassword? 'text' : 'password'" class="form-control input-password" placeholder="Enter password" name="pswd" formControlName="passwordFormControl">
        <div class="d-flex" *ngIf="!this.visiblePassword else crossEye">
        <i class="fa-solid fa-eye fa-align" (click)="togglePasswordText()"></i>
        </div>
        <ng-template #crossEye>
            <div class="d-flex">
                <i class="fa-solid fa-eye-slash fa-align" (click)="togglePasswordText()"></i>
            </div>
        </ng-template>
    </div>
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" >x    
      <label class="form-check-label" >Check me out</label>
    </div> -->
    <button type="submit" class="btn btn-primary" [disabled]="this.logInFormGroup.invalid || (isLoading$ | async)"
    ><div *ngIf="isLoading$ | async; else notLoading">Loging in...</div>
    <ng-template #notLoading>
      Log in
    </ng-template>
    </button>
  </form>
