.reg-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

small{
    align-self: center;
    justify-self: flex-end;
}

.input-password {
    display: flex;
    margin-right: 10px;
}

.fa-align{
    align-self: center;
}