.mdc-card__media:first-child {
    border-radius: 50%;
}

.mat-mdc-card-title {
    display: flex;
    position: relative;
}

.titleNameAndDate {
    padding-left: 0.5em;
    align-content: center;
}

.commentsContainer{
    background-color: black;
    //height: 100vh;
}

// span.textContainer{
//     // margin-left: 1em;
//     // margin-top: 1em;
//     margin: 1em;
//     color: white;
//     font-size: medium;
//     border: 5px solid white;
//     padding: 0.5em;
//     border-radius: 25%;
//     display: block;
//     overflow-wrap: break-word;
    
// }

.contextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer{
    // border: 5px solid white;
    width: 80%;
    // display: flex;
    // flex-wrap: wrap;
    color: white;
    font-size: medium;
    border: 5px solid white;
    padding: 0.5em;
    border-radius: 25%;
    overflow-wrap: break-word;
}

mat-card {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 1em;
}

form {
    width: 100%;
}

.userCommentContainer {
    width: 100%;
    border-radius: 5%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    // @include mat.button-density(-1);
}


.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgInput{
    justify-self: center;
    align-self: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 75%;
    max-height: auto;
    min-width: 75%;
    min-height: auto;
}

.noComments{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: white;
}

.XbuttonContainer{
    position: absolute;
    top: 5px;
    right: 5px;
}

.Xbutton{
    color: rgb(150, 19, 19);
}
.editButtonContainer{
    position: absolute;
    top: 5px;
    right: 50px;
}

.backButtonContainer{
    position: absolute;
    top: 5px;
    right: 0px;
}

.backLabel{
    position: absolute;
    top: 20px;
    right: 45px;
}


.backButton{
    color: white;
    transform: scale(2);
}

// .editButton{

// }