<div class="commentsContainer">
<form>
<mat-form-field class="userCommentContainer">
    <mat-label>Write your comment here</mat-label>
    <div class="input-container">
        <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [formControl]="commentTextFormControl" ></textarea>
        <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileInput>
        <label class="backLabel">Go back?</label>
        <button mat-icon-button class="backButtonContainer" (click)="$event.preventDefault(); goBack()" ><mat-icon class="backButton">arrow_back</mat-icon></button>
        <img [src]="this.userCommentImg" class="imgInput">
        <div>
            <button mat-flat-button (click)="$event.preventDefault(); fileInput.click()">Pick photo</button>
            <button mat-flat-button (click)="$event.preventDefault(); onComment()" 
            [disabled]="!this.commentTextFormControl.dirty ||
            this.commentTextFormControl.invalid" >Comment</button>
        </div>
    </div>
</mat-form-field>
</form>
    <mat-card *ngFor="let userComment of this.usersComment$ | async">
    <mat-card-title style="position: relative;">
        <img mat-card-sm-image src={{userComment.userPicSrc}} [routerLink]="['/home/profile/' + userComment.userId]"/>
        <div class="titleNameAndDate">
            <div>
                {{userComment.userName + ' ' +userComment.userSurname}}
            </div>
            <span mat-card-subtitle>{{userComment.commentDate}}</span>
        </div>
        @if(this.currentUserId == userComment.userId){  
            <button mat-icon-button class="editButtonContainer" (click)="openEditDialog('0ms', '0ms', userComment)" ><mat-icon class="editButton">edit_note</mat-icon></button>
            <button mat-icon-button class="XbuttonContainer" (click)="openDeleteDialog('0ms', '0ms', userComment)" ><mat-icon class="Xbutton">close</mat-icon></button>
        }
    </mat-card-title>
     <mat-card-content>
    <div class="contextContainer">
        <div class="textContainer">
            <span>
                {{userComment.commentText}}
            </span>
        </div>
        @if (userComment.commentPic) {
            <p-image 
            src={{userComment.commentPic}} 
            alt="Image" 
            
            class="commentPic"
            [preview]="true"
        />
        }
    </div>
    </mat-card-content>
    </mat-card>
</div>



