.mdc-card__media:first-child {
    border-radius: 50%;
}

.mat-mdc-card-title {
    display: flex;
    position: relative;
}

.titleNameAndDate {
    padding-left: 0.5em;
    align-content: center;
}

p  {
    // margin-left: 1em;
    // margin-top: 1em;
    margin: 1em;
    color: white;
    font-size: medium;
    border: 1px solid rgba(255, 255, 255, 0.486);
    padding: 0.5em;
    border-radius: 25%;
}

.contextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textContainer{
    border: 1px solid white;
}

mat-card {
    width: 75%;
    border-radius: 5%;
    margin-bottom: 1em;
}

form {
    width: 75%;
}

.userCommentContainer {
    width: 100%;
    border-radius: 5%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    // @include mat.button-density(-1);
}


.input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.imgInput{
    justify-self: center;
    align-self: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: 75%;
    max-height: auto;
    min-width: 75%;
    min-height: auto;
}

.noComments{
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: white;
}

.XbuttonContainer{
    position: absolute;
    top: 5px;
    right: 5px;
}

.Xbutton{
    color: rgb(150, 19, 19);
}
