<form>
<mat-form-field class="userCommentContainer">
    <mat-label>Write your comment here</mat-label>
    <div class="input-container">
        <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [formControl]="commentTextFormControl" ></textarea>
        <input type="file" style="display: none;" (change)="onFileSelected($event)" #fileInput>
        <img [src]="this.userCommentImg" class="imgInput">
        <!-- <div style="display: flex;">
            <mat-checkbox *ngFor="let sport of this.userSelectedSport$ | async" [formControl]="postCheckListFormControl" (change)="onSportChecked(sport)">{{sport}}</mat-checkbox>
        </div> -->
        <div>
            <button mat-flat-button (click)="$event.preventDefault(); fileInput.click()">Pick photo</button>
            <button mat-flat-button (click)="$event.preventDefault(); onComment()" 
            [disabled]="!this.commentTextFormControl.dirty ||
            this.commentTextFormControl.invalid" >Comment</button>
        </div>
    </div>
</mat-form-field>
</form>

<div *ngIf="!(this.error$ | async) else noComments">
    <mat-card *ngFor="let comment of this.usersComment$ | async">
    <mat-card-title style="position: relative;">
        <img mat-card-sm-image src={{comment.userPicSrc}}/>
        <div class="titleNameAndDate">
            <div>
                {{comment.userFullName}}
            </div>
            <span mat-card-subtitle>{{comment.commentDate}}</span>
            <!-- <mat-card-subtitle>13/04/2024</mat-card-subtitle> -->
        </div>
        <mat-icon class="Xbutton">close</mat-icon>
    </mat-card-title>
     <mat-card-content>
    <div class="contextContainer">
        <p class="textConainer">
            {{comment.commentText}}
        </p>
        <!-- <img mat-card-image src={{comment.userPicSrc}} class="commentPic"> -->
         <!-- "https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" -->
        <p-image 
            src={{comment.commentPic}} 
            alt="Image" 
            
            class="commentPic"
            [preview]="true"
        />
    </div>
    </mat-card-content>
    
    <!-- <mat-card-actions>
        <button mat-button (click)="like($event)" [color]="color"><mat-icon>thumb_up</mat-icon>Like </button>
        <button mat-button><mat-icon>thumb_down</mat-icon>Dislike </button>
        <button mat-button><mat-icon>comment</mat-icon>Comment </button>
        <button mat-button><mat-icon>share</mat-icon>Share </button>
    </mat-card-actions>
    <mat-card-footer>
        <span class="interaction_numbers"><p>{{post.numberOfLikes}}</p><mat-icon>thumb_up</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfDislikes}}</p><mat-icon>thumb_down</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfComments}}</p><mat-icon>comment</mat-icon></span>
        <span class="interaction_numbers"><p>{{post.numberOfShares}}</p><mat-icon>share</mat-icon></span>
    </mat-card-footer> -->
    </mat-card>
</div>
<ng-template #noComments>
    <mat-card>
        <mat-card-content>
            <div class="noComments">
                No comments 
            </div>    
        </mat-card-content>
    </mat-card>
</ng-template>


